
.edit-link-button{
    background-color: #dddddd;
    color: #222222;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 8px;
}


body{
    font-size: 17pt; /* This sets the base font size and therefore effects all text sizes */
}

.center-div{
    margin-left: 250px;
    max-width: 750px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}


/* Sidebar (including navigation) */
.side-nav{
    position: fixed;
    width: 200px;
    top: 30px;
    left: 15px;
    z-index: 1;
    background-color: #eeeeee;
    padding: 10px 5px;
}
.side-nav a{
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

/* Images and videos */
img, .video{
    max-width:480px;
    max-height:auto;
    border: 1px solid black;
}
@media (max-width: 480px) {
    img, .video{
        width:100%;
        max-height:auto;
    }
}

/* The sidebar transforms into a top nav-bar when displayed at smaller screens (or windows) */
@media screen and (max-width: 610px){
    .side-nav{
        width: 100%;
        position: relative;
    }
    .center-div{
        padding-top: 20px;
        margin-left: 0;
    }
}


/*
p,ul{
    line-height: 30px;
}


h2{
    margin-top: 32px;
}

    color: #909090;


TABLE CSS:

table{
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    font-size: 0.9em;
}
th, td{
    border-bottom: 2px solid #d8d8d8;
    padding: 12px;
    text-align: left;
}
tr:hover{
    background-color: #002000;
}


::selection{
    color: #909090;
    background: #004000;
}



a:link{
    color: #00a000;
}
a:visited{
    color: #007000;
}
a:hover{
    color: #00d000;
}
a:active{
    color: #00ff00;
}

*/

