

.internal-nav{
    float: right;
    width: 200px;
    top: 30px;
    right: 15px;
    z-index: 1;
    background-color: #202020;
    padding: 10px 5px;
}
.internal-nav a{
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    font-weight: bold;
    color: #00a000;
    text-decoration: none;
}


::selection{
    color: #909090;
    background: #004000;
}

body{
    background-color: black;
    color: #909090;
    font-size: 18pt; /* This sets the base font size and therefore effects all text sizes */
    /* font-size: 15pt; This sets the base font size and therefore effects all text sizes */
    font-family: 'VeranoSansMedium', sans-serif;
}

b{
    /* color: #ffffff; */
    font-family: 'VeranoSansBlack', sans-serif;
}
/*
https://fontlibrary.org/en/font/alegreya-sans
https://fontlibrary.org/en/font/verano-sans
https://fontlibrary.org/en/font/piazzolla

Geneva, Verdana, sans-serif;
*/
h1, h2{
    font-variant: small-caps;
    font-size: 32pt;
    font-family: 'VeranoSansBlack', sans-serif;
}
.context{
    display: block;
    font-size: 70%;
    opacity: 0.7;
}
.main{
    margin-left: 250px;
    max-width: 750px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.side-nav{
    position: fixed;
    width: 200px;
    top: 30px;
    left: 15px;
    z-index: 1;
    background-color: #202020;
    padding: 10px 5px;
}

.nav-item{
}

#active-nav-item{
    font-style: italic;
}

a:link{
    color: #00a000;
}
a:visited{
    color: #007000;
}
a:hover{
    color: #00d000;
}
a:active{
    color: #00ff00;
}

.side-nav a{
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    font-weight: bold;
    color: #00a000;
    text-decoration: none;
}

h2{
    margin-top: 32px;
}
p,ul{
    line-height: 30px;
}
img,{
    max-width: 720px;
}

@media (max-width: 480px) {
    img, .video{
        width:100%;
        max-height:auto;
    }
}
.newsletter{
    display:inline-block;
    background-color:#c2ff2d;
    color:black;
    border-style: solid;
    border-width: 3px;
    border-color: #65ac04;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 12px;
}
table{
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    font-size: 0.9em;
}
th, td{
    border-bottom: 2px solid #d8d8d8;
    padding: 12px;
    text-align: left;
}
tr:hover{
    background-color: #002000;
}



@media screen and (max-width: 610px){
    .side-nav{
        width: 100%;
        position: relative;
    }
    .main{
        margin-left: 0;
    }
}



/*

    overflow-x: hidden;

https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp

https://stackoverflow.com/questions/5067279/how-to-align-this-span-to-the-right-of-the-div

@media screen and (prefers-color-scheme: light){
    background-color: white;
    color: black;
}

img, .video{
    max-width:480px;
    max-height:auto;
    border: 1px solid black;
}


*/
